* {
  margin: 0;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.image {
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

.profile-content {
  margin-left: 15px;
}

.user-name {
  color: black;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
}

.user-description {
  color: blueviolet;
  font-family: Roboto;
  font-size: 18px;
}
